exceptiongroup==1.2.2
iniconfig==2.0.0
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
pypng==0.20220715.0
pytest==8.2.2
python-dotenv==1.0.1
qrcode==7.4.2
tomli==2.0.1
typing_extensions==4.12.2
validators==0.33.0
